.logo {
  position: relative;

  img {
    display: block;
    max-width: 100%;
  }

  &.logo--start {
    display: inline-block;
    vertical-align: middle;
  }

  &.logo--code {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
  }

}

.form {

  &__row {
    @extend %clearfix;

    &--w {
      .form__w--code & {
        display: inline-block;
        vertical-align: top;
        width: 220px;
      }
    }

    &--v1 {
      margin-left: -40px;

      .form__cell {
        float: left;
        width: 50%;
        padding-left: 40px;
      }
    }

  }

  &__cell {

  }

  &__btn {

    &--v1 {
      @include transition_all(background .3s, color .3s, border .3s);
      display: block;
      width: 100%;
      height: 56px;
      font-size: 22px;
      line-height: 24px;
      padding: 15px;
      text-decoration: none;
    }

    &--gold {
      border: 1px solid #bf9e59;
      background: #bf9e59;
      color: #fff;

      &:hover {
        background: #000;
        color: #bf9e59;
      }
    }

    &--gold-b {
      border: 1px solid #bf9e59;
      background: #000;
      color: #bf9e59;

      &:hover {
        background: #bf9e59;
        color: #fff;
      }
    }
  }

  &__label {
    display: inline-block;
    vertical-align: top;

    &--v1 {
      color: #bf9e59;
      font-size: 24px;
      margin-bottom: 25px;
      letter-spacing: -.8px;

      @include respond-to-min($resp_step_2) {
        font-size: 32px;
      }
    }

    &--v2 {
      color: #bf9e59;
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 25px;
      letter-spacing: -.8px;

      @include respond-to-min($resp_step_2) {
        font-size: 28px;
      }
    }
  }

  &__w {

    &--code {
      //margin-top: 220px;

      .form__inp--v1 {
        width: 220px;
        margin: 0 auto;
      }
    }
  }

  &__inp {
    display: block;
    width: 100%;

    &--v1 {
      color: #b0b8bd;
      font-size: 24px;
      text-align: center;
      padding: 5px;
      border-bottom: 1px solid #bf9e59;

      @include respond-to-min($resp_step_2) {
        font-size: 28px;
      }
    }

    &--w {
      position: relative;
    }

  }

}

.prod {

  &__holder {
    position: relative;
    text-align: center;
    z-index: 1;
    padding-top: 16px;
    background: #000;

    &:after,
    &:before {
      z-index: 1;
      content: '';
      position: absolute;
      bottom: 55px;
      width: 0;
      height: 0;
      border-left: 5500px solid transparent;
      border-right: 5500px solid transparent;
      border-bottom: 1600px solid #fff;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }

    .section__inner {
      z-index: 2;
    }
  }

  &__bg {
    position: absolute;
    overflow: hidden;
    height: 330px;
    bottom: 0;
    right: 0;
    left: 0;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 55px;
      background: #fff;
    }

    &:before {
      content: '';
      position: absolute;
      height: 760px;
      width: 760px;
      left: 50%;
      margin-left: -385px;
      top: 0;

      /* Mask: */
      background: #931403;
      background: -moz-radial-gradient(center, ellipse cover, #931403 0%, #000 50%, #000 100%);
      background: -webkit-radial-gradient(center, ellipse cover, #931403 0%, #000 50%, #000 100%);
      background: radial-gradient(ellipse at center, #931403 0%, #000 50%, #000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#931403', endColorstr='#000000', GradientType=1);

      /* Mask: */
      //background-image: radial-gradient(50% 205%, #931403 100%, #000 100%);
    }
  }

  &__controls {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  &__btn {
    @extend %icon_pseudo;
    position: absolute;
    bottom: 200px;
    width: 50px;
    height: 50px;
    margin-top: -25px;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 32px;
      line-height: 50px;
      text-align: center;
      color: #bf9e59;
    }

    &--prev {
      left: 0;

      &:before {
        content: $i-arrow_prev;
      }
    }

    &--next {
      right: 0;

      &:before {
        content: $i-arrow_next;
      }
    }
  }

  &__age {
    @extend %clearfix;
    text-align: center;
    margin: 0 auto 25px;
    max-width: 490px;

    > li {
      float: left;
      width: 20%;
      color: #bf9e59;
      font: 26px/36px $CormorantRegular;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
      }

      &.prod__age--active span {
        font-size: 32px;
      }
    }
  }

  &__name {
    color: #fff;
    font: 36px/1 $CormorantBold;
    margin-bottom: 25px;
    letter-spacing: 4px;

    @include respond-to-min($resp_step_2) {
      font-size: 56px;
      margin-bottom: 40px;
    }

  }

  &__image {
    position: relative;
    z-index: 1;
  }

}