//************  buttons

.btn_v1 {
  height: 30px;

  &.callback_btn {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 22px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

.btn_v2 {

  &.subscribe_btn {
    text-align: center;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 44px;
    font-size: 14px;
    margin-top: 20px;
  }
}

.btn_blue_transp {
  border: 1px solid #29abe2;
  color: #fff;
}

.green_btn {
  color: #fefefe;
  background: #22b573;
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.yellow_btn {
  background: #fbe622;
  color: #000;
  box-shadow: 0 3px 5px #7f7f7f;
}


