.footer {
  background: #000;
  padding: 75px 0 0;
  min-height: 110px;
  
  @include respond-to-min($resp_step_2) {
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 25px 0;
    min-height: 0;
  }

  &__nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    &--age {
      color: #bf9e59;
      font: 28px/36px $CormorantRegular;
    }

    &--name {
      color: #fff;
      font: 16px/20px $CormorantRegular;
    }

    &--tip {
      color: #fff;
      font: 8px/10px $CormorantLight;
      letter-spacing: .65px;
    }

    &--btn {
      position: absolute;
      bottom: 0;
      width: 50%;
      min-height: 140px;
      padding-top: 20px;
      border-top: 1px solid rgba(255, 255, 255, .2);

      &:first-child {
        border-right: 1px solid rgba(255, 255, 255, .2);
      }
    }

    &--prev {
      left: 0;
      text-align: left;
      padding-left: 55px;

      .footer__nav--img {
        left: 0;
      }
    }

    &--next {
      right: 0;
      text-align: right;
      padding-right: 55px;

      .footer__nav--img {
        right: 0;
      }
    }

    &--img {
      position: absolute;
      bottom: 0;

      img {
        display: block;
      }
    }
  }
}

.copyright {
  text-align: center;
  color: #fff;
  opacity: .59;
  font: 9px $GothamProLight;
  margin-top: 15px;

  @include respond-to-min($resp_step_2) {
    font-size: 12px;
    margin-top: 0;
  }
}


