.footer {
  padding-top: 10px;
  line-height: 100px;
  background: #686151;
  border-bottom: 2px solid #fff;

  .section_inner {
    padding: 0 25px;
  }
}

.popup {
  background: #f4f4f4;
  padding: 0 20px 20px;
  text-align: center;
  
  p {
    margin-bottom: 20px;
  }
}
