include mixins.pug
doctype html
html(lang='ru')
    +dev_head('XO 0')

    body
        .wrapper.wrapper--start
            .abs__holder
                .gl__table
                    .gl__table--cell
                        .section__inner
                            .text--center 
                                a.logo.logo--start(href='code.html')
                                    img(src='i/logo.png')
                    
        //-+scripts()