include mixins.pug
doctype html
html(lang='ru')
    +dev_head('XO imperial')

    body
        .wrapper.wrapper--prod
            .prod__holder
                .prod__bg.prod__bg--richard
                .section__inner
                    ul.prod__age
                        li: a(href='imperial.html') IV
                        li.prod__age--pre: a(href='richard.html') V
                        li.prod__age--active: a(href='xo.html') I
                        li.prod__age--pre: a(href='xo-ltd.html') II
                        li: a(href='paradis.html') III
                    .prod__name RICHARD
                        
                    .prod__picture
                        img.reflectMe.prod__image(src='i/mail-richard.png')
                    
                    .prod__controls
                        a.prod__btn.prod__btn--prev(href='#')
                        a.prod__btn.prod__btn--next(href='#')
                        
            .section__inner
                .prod__info
                    .prod__info--price
                        .prod__price
                            span.prod__price--old: span 15 115 ₽
                            | &nbsp; 
                            span.prod__price--new 10 580 ₽
                        
                        .prod__gift
                            label.check__emul--v1
                                input.hidden__inp(type='checkbox')
                                span.check__emul--text
                            
                            span.mb.text--left
                                a.link--inner(href='#') С подарочной упаковкой
                                |  <br> 
                                span и двумя бокалами
                        
                        .order__form
                            form(action='#')
                                .order__form--caption.collapseFormBtn ДОБАВИТЬ В ЗАКАЗ
                                .collapseForm: .order__form--inner
                                    .order__form--row
                                        .order__form--cell
                                            .order__name X.O.
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--row
                                        .order__form--cell
                                            .order__name Paradis
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--row
                                        .order__form--cell
                                            .order__name Richard
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--total
                                        .order__form--cell
                                            .order__total Итого
                                        .order__form--cell.total 249 372 ₽
                                            
                                    button.order__form--btn.btn--v1 ОФОРМИТЬ

                    .prod__info--desription.mob--hidden.historyCollapseBlock
                        .prod__info--text
                            h3 Рождение 
                            p Создан в 1996 году «мастером ассамбляжа» Яном Фийю в честь Ричарда Хеннесси. В ассамбляж входит более 100 исключительных, чрезвычайно редких коньячных спиртов, выдержанных от 40 до 200 лет. Каждый графин этого коньяка сделан из чистого хрусталя ручной работы и индивидуально пронумерован.

                            h3 Вкус и аромат
                            p Букет раскрывается нежными цветами, мускатным орехом, перцем и бланшированным фенхелем. Глубокий янтарный цвет, искренний и сердечный, предвещает красноречивую крепость.                     Бесподобное изобилие ароматов наделяет Richard Hennessy уникальной многосложностью. Мощный и непредсказуемый, Richard Hennessy достигает высот, граничащих с совершенством.
                        p
                            a.link--inner.link--collapse.historyCollapseBtn(href='#')
                                span.link__text--vis Показать историю целиком
                                span.link__text--hid Скрыть историю

            .prod__slider--w
                .section__inner
                    .prod__logo
                        img(src='i/logo_bw.svg')

                    .dt--hidden
                        .prod__slider
                            .prod__slider--img.prod__history.historyCollapseBlock
                                .prod__title
                                    span Рождение легенды
                                .prod__tip Создан в 1870 году Морисом Хеннесси для своих друзей, как первый коньяк с указанием возраста eXtra Оld cognac на лицевой этикетке бутылки. В ассамбляж входит более 100 коньячных спиртов, возрастом от 20 до 30 лет. В 1947 году для коньяка была создана специальная бутылка, украшенная орнаментом из виноградной лозы.
    
                                .text--center.prod__history--controls
                                    a.link--inner.link--collapse.historyCollapseBtn(href='#') Показать историю целиком
                                    
                            //-.prod__slider--controls
                                a.prod__btn.prod__btn--prev(href='#')
                                a.prod__btn.prod__btn--next(href='#')
                                
                        ul.prod__slider--pagination
                            li
                            li
                            li.active
                            li
                        
                    .prod__slider
                        .prod__slider--img
                            img.mob--hidden(src='i/slide_richard.png')
                            img.dt--hidden(src='i/slide_richard_m.png')

                        .prod__slider--controls
                            a.prod__btn.prod__btn--prev(href='#')
                            a.prod__btn.prod__btn--next(href='#')
                    
                    ul.prod__slider--pagination
                        li
                        li
                        li.active
                            
                    .text--center.goback__block
                        a.link--inner.link--goback(href='#') Вернуться наверх
                        
            .footer
                .footer__nav.dt--hidden
                    a.footer__nav--btn.footer__nav--prev.footer__nav--xo(href='#')
                        .footer__nav--img
                            img(src='i/footer_nav_1.png')
                        .footer__nav--age V 
                        .footer__nav--name RICHARD
                    
                    a.footer__nav--btn.footer__nav--next.footer__nav--richard(href='xo-ltd.html')
                        .footer__nav--img
                            img(src='i/footer_nav_2.png')
                        .footer__nav--age II
                        .footer__nav--name X.O
                        .footer__nav--tip LIMITED EDITION <br> FROM TOM DIXON
                            
                .section__inner
                    .copyright ©2016 Hennessy

        +scripts()