include mixins.pug
doctype html
html(lang='ru')
    +dev_head('XO Ltd')

    body
        .wrapper.wrapper--prod
            .prod__holder
                .prod__bg.prod__bg--xo__ltd
                .section__inner
                    ul.prod__age
                        li: a(href='imperial.html') IV
                        li.prod__age--pre: a(href='richard.html') V
                        li.prod__age--active: a(href='xo.html') I
                        li.prod__age--pre: a(href='xo-ltd.html') II
                        li: a(href='paradis.html') III
                    .mob--hidden
                        .prod__name X.O LIMITED EDITION
                            .prod__name--edition From Tom Dixon
                    .dt--hidden
                        .prod__name X.O
                            .prod__name--edition Limited Edition From Tom Dixon
                        
                    .prod__picture
                        img.reflectMe.prod__image(src='i/main-xo_letd.png')
                    
                    .prod__controls
                        a.prod__btn.prod__btn--prev(href='#')
                        a.prod__btn.prod__btn--next(href='#')
                        
            .section__inner
                .prod__info
                    .prod__info--price
                        .prod__price
                            span.prod__price--old: span 15 115 ₽
                            | &nbsp; 
                            span.prod__price--new 10 580 ₽
                        
                        .prod__gift
                            label.check__emul--v1
                                input.hidden__inp(type='checkbox')
                                span.check__emul--text
                            
                            span.mb.text--left
                                a.link--inner(href='#') С подарочной упаковкой
                                |  <br> 
                                span и двумя бокалами
                        
                        .order__form
                            form(action='#')
                                .order__form--caption.collapseFormBtn ДОБАВИТЬ В ЗАКАЗ
                                .collapseForm: .order__form--inner
                                    .order__form--row
                                        .order__form--cell
                                            .order__name X.O.
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--row
                                        .order__form--cell
                                            .order__name Paradis
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--row
                                        .order__form--cell
                                            .order__name Richard
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--total
                                        .order__form--cell
                                            .order__total Итого
                                        .order__form--cell.total 249 372 ₽
                                            
                                    button.order__form--btn.btn--v1 ОФОРМИТЬ

                    .prod__info--desription.mob--hidden.historyCollapseBlock
                        .prod__info--text
                            h3 Том Диксон
                            p Дизайн декантера новой лимитированной серии Hennessy X.O создал известный британский дизайнер Том Диксон — обладатель множества наград, Ордена Британской Империи. Его работы представлены в постоянной экспозиции известных мировых музеев: Музей Виктории и Альберта в Лондоне, Музеях современного искусства в Нью-Йорке и Токио, в парижском Центре Помпиду.

                            h3 Ювелирное изделие
                            p «Меня завораживают предметы роскоши и то, как они позиционируются в разных контекстах», — говорит Том Диксон, замечая, что адекватное оформление необходимо для правильного восприятия ценности предмета. Неподражаемый стиль дизайнерских работ маэстро и роскошный характер коньяка отражены в граненом декантере Hennessy X.O от Тома Диксона. Новый предмет коллекционирования выглядит как ювелирное изделие. Словно элементы мозаики более, чем 100 видов коньячных спиртов, входящих в состав купажа Hennessy X.O, превратились в ослепляющий взгляд предмет роскоши.

                        p
                            a.link--inner.link--collapse.historyCollapseBtn(href='#')
                                span.link__text--vis Показать историю целиком
                                span.link__text--hid Скрыть историю

            .prod__slider--w
                .section__inner
                    .prod__logo
                        img(src='i/logo_bw.svg')

                    .dt--hidden
                        .prod__slider
                            .prod__slider--img.prod__history.historyCollapseBlock
                                .prod__title
                                    span Рождение легенды
                                .prod__tip Создан в 1870 году Морисом Хеннесси для своих друзей, как первый коньяк с указанием возраста eXtra Оld cognac на лицевой этикетке бутылки. В ассамбляж входит более 100 коньячных спиртов, возрастом от 20 до 30 лет. В 1947 году для коньяка была создана специальная бутылка, украшенная орнаментом из виноградной лозы.
    
                                .text--center.prod__history--controls
                                    a.link--inner.link--collapse.historyCollapseBtn(href='#') Показать историю целиком
                                    
                            //-.prod__slider--controls
                                a.prod__btn.prod__btn--prev(href='#')
                                a.prod__btn.prod__btn--next(href='#')
                                
                        ul.prod__slider--pagination
                            li
                            li
                            li.active
                            li
                        
                    .prod__slider
                        .prod__slider--img
                            img.mob--hidden(src='i/slide_xo_ltd.png')
                            img.dt--hidden(src='i/slide_xo_ltd_m.png')

                        .prod__slider--controls
                            a.prod__btn.prod__btn--prev(href='#')
                            a.prod__btn.prod__btn--next(href='#')
                    
                    ul.prod__slider--pagination
                        li
                        li
                        li.active
                            
                    .text--center.goback__block
                        a.link--inner.link--goback(href='#') Вернуться наверх
                        
            .footer
                .footer__nav.dt--hidden
                    a.footer__nav--btn.footer__nav--prev.footer__nav--xo__ltd(href='xo.html')
                        .footer__nav--img
                            img(src='i/footer_nav_1.png')
                        .footer__nav--age I
                        .footer__nav--name X.O
                    
                    a.footer__nav--btn.footer__nav--next.footer__nav--paradis(href='xo-ltd.html')
                        .footer__nav--img
                            img(src='i/footer_nav_2.png')
                        .footer__nav--age III
                        .footer__nav--name PARADIS
                            
                .section__inner
                    .copyright ©2016 Hennessy

        +scripts()