include mixins.pug
doctype html
html(lang='ru')
    +dev_head('XO')

    body
        .wrapper.wrapper--prod
            .prod__holder
                .prod__bg.prod__bg--xo
                .section__inner
                    ul.prod__age
                        li: a(href='imperial.html') IV
                        li.prod__age--pre: a(href='richard.html') V
                        li.prod__age--active: a(href='xo.html') I
                        li.prod__age--pre: a(href='xo-ltd.html') II
                        li: a(href='paradis.html') III
                    .prod__name X.O
                        
                    .prod__picture
                        img.reflectMe.prod__image(src='i/main-xo.png')
                    
                    .prod__controls
                        a.prod__btn.prod__btn--prev(href='#')
                        a.prod__btn.prod__btn--next(href='#')
                        
            .section__inner
                .prod__info
                    .prod__info--price
                        .prod__price
                            span.prod__price--old: span 15 115 ₽
                            | &nbsp; 
                            span.prod__price--new 10 580 ₽
                        
                        .prod__gift
                            label.check__emul--v1
                                input.hidden__inp(type='checkbox')
                                span.check__emul--text
                            
                            span.mb.text--left
                                a.link--inner(href='#') С подарочной упаковкой
                                |  <br> 
                                span и двумя бокалами
                        
                        .order__form
                            form(action='#')
                                .order__form--caption.collapseFormBtn ДОБАВИТЬ В ЗАКАЗ
                                .collapseForm: .order__form--inner
                                    .order__form--row
                                        .order__form--cell
                                            .order__name X.O.
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--row
                                        .order__form--cell
                                            .order__name Paradis
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--row
                                        .order__form--cell
                                            .order__name Richard
                                        .order__form--cell
                                            .order__quantity
                                                span.val 1
                                                .val__btn.minus &ndash;
                                                .val__btn.plus +
                                                    
                                    .order__form--total
                                        .order__form--cell
                                            .order__total Итого
                                        .order__form--cell.total 249 372 ₽
                                            
                                    button.order__form--btn.btn--v1 ОФОРМИТЬ

                    .prod__info--desription.mob--hidden.historyCollapseBlock
                        .prod__info--text
                            h3 Рождение легенды
                            p Создан в 1870 году Морисом Хеннесси для своих друзей,  как первый коньяк с указанием возраста eXtra Оld cognac на лицевой этикетке бутылки. В ассамбляж входит более 100 коньячных спиртов, возрастом от 20 до 30 лет. В 1947 году для коньяка была создана специальная бутылка, украшенная орнаментом из виноградной лозы.

                            h3 Аромат
                            p Купаж получен из вин земель  Гран Шампань (Grande Champagne), Пти Шампань (Petite Champagne), Бордери (Borderies) и Фин Буа (Fin Bois). Обладает богатым и устойчивым вкусом, ароматом спелых фруктов — грушы, персика, сливы, а также душистых пряностей — ванили и корицы, что придаёт напитку своеобразный вкус.
                                
                        p
                            a.link--inner.link--collapse.historyCollapseBtn(href='#')
                                span.link__text--vis Показать историю целиком
                                span.link__text--hid Скрыть историю
                                
            .prod__slider--w
                .section__inner
                    .prod__logo
                        img(src='i/logo_bw.svg')

                    .dt--hidden
                        .prod__slider
                            .prod__slider--img.prod__history.historyCollapseBlock
                                .prod__title
                                    span.no--lines Рождение легенды
                                .prod__tip Создан в 1870 году Морисом Хеннесси для своих друзей, как первый коньяк с указанием возраста eXtra Оld cognac на лицевой этикетке бутылки. В ассамбляж входит более 100 коньячных спиртов, возрастом от 20 до 30 лет. В 1947 году для коньяка была создана специальная бутылка, украшенная орнаментом из виноградной лозы.
    
                                .text--center
                                    a.link--inner.link--collapse.historyCollapseBtn(href='#')
                                        span.link__text--vis Показать историю целиком
                                        span.link__text--hid Скрыть историю
                                    
                            //-.prod__slider--controls
                                a.prod__btn.prod__btn--prev(href='#')
                                a.prod__btn.prod__btn--next(href='#')
                                
                        ul.prod__slider--pagination
                            li
                            li
                            li.active
                            li
                        
                    .prod__slider
                        .prod__slider--img
                            img.mob--hidden(src='i/slide_xo.png')
                            img.dt--hidden(src='i/slide_xo_m.png')

                        .prod__slider--controls
                            a.prod__btn.prod__btn--prev(href='#')
                            a.prod__btn.prod__btn--next(href='#')
                    
                    ul.prod__slider--pagination
                        li
                        li
                        li.active
                            
                    .text--center.goback__block
                        a.link--inner.link--goback(href='#') Вернуться наверх
                    
                    .prod__title.mob--it
                        span 
                            span Каждая капля 
                            span.dt--hidden  <br> 
                            span Hennessy X.O  
                            span.mob--hidden <br> 
                            span – это целое 
                            span.dt--hidden  <br> 
                            span путешествие
                        
                    .prod__tip 
                        span Hennessy представляет 
                        span.dt--hidden  <br> 
                        span новую рекламную кампанию, <br> основанную на фильме-
                        span.dt--hidden  <br> 
                        span путешествии 
                        span.mob--hidden <br> 
                        span Николаса 
                        span.dt--hidden  <br> 
                        span Виндинга Рефна.
                        
                    .prod__video
                        img(src='i/video_2.jpg')

            .footer
                .footer__nav.dt--hidden
                    a.footer__nav--btn.footer__nav--prev.footer__nav--xo(href='#')
                        .footer__nav--img
                            img(src='i/footer_nav_1.png')
                        .footer__nav--age V 
                        .footer__nav--name RICHARD
                    
                    a.footer__nav--btn.footer__nav--next.footer__nav--xo__ltd(href='xo-ltd.html')
                        .footer__nav--img
                            img(src='i/footer_nav_2.png')
                        .footer__nav--age II
                        .footer__nav--name X.O
                        .footer__nav--tip LIMITED EDITION <br> FROM TOM DIXON
                            
                .section__inner
                    .copyright ©2016 Hennessy

        +scripts()